
body { 
    font-family: 'Roboto', sans-serif; 
    font-size: 16px; 
    font-weight: 300; 
    color: #888; 
    line-height: 30px; 
    background: url(../img/backgrounds/naranja.png)  no-repeat center fixed;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-y: scroll;
	 overflow-x: hidden;
} 
h1{
    text-align: center;
    background: rgba(0, 0, 0, 0.746);
    color: #0ffbac;
    margin:20px;
    padding: 30px;
    font-family:'Roboto', sans-serif;
}
h3 
{ 
    color: #fb810f;
    background: rgba(7, 7, 7, 0.541);
    margin: 20px;
    text-align:center;
    border-radius: 5px;
}
h2
{
    background: #0000009a;
    text-align: center;
    color: #fb810f;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    font-size: 40px;
    font-weight: bold;
}
p{
    color: #fb810f;
    font-size: 20px;

}
#claseh2{
    color: #fb810f;
}
/*----------Titulo de la página en Construcción--------------*/




/*Tabla de Bootstrap*/
.table
{
    height: 100%;
    max-width: 100%;
    text-align: center;
}
.tbody{
   text-align: center;
}

/*----------Videos------------*/
.cvideos{
    margin: 15px;
    padding: 10px;
}
/*-------------------Boton de ir hacie a arriba----------------*/
#ir-arriba{
    transition: all 500ms ease;
    transform: scale(0)
}
#ir-arriba:hover{
    transform: scale(1.1);
}

.cm-up{
    box-sizing: content-box;
    position: fixed;
    background-color: #001E34;
    height: 30px;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    padding: 10px;
    right: 20px;
    bottom: 20px;
}
.cm-up .cm-text-up{
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    float: left;
    padding: 0;
    font-size: 16px;
    width: 0;
    transition: 0.4s;
}
.cm-up .cm-icon{
    background-color: #03e8f421;
    color:  #f46f03;
    font-size: 20px;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}
.cm-up:hover > .cm-text-up{
    width: 150px;
    padding: 0 6px;
}
.cm-up:hover > .cm-icon{
    background-color: #fff;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4;
}
/*Botón de comenzar*/
.notify-btn
{
    Overflow: hidden;
    color: red;
}

::-moz-selection { background: #f35b3f; color: #fff; text-shadow: none; }
::selection { background: #f35b3f; color: #fff; text-shadow: none; }
/*-------------------Navbar--------------------*/
.gris{
    background-color: rgba(0, 0, 0, 0.863);
}
.top-nav-collapse{
    background-color: rgba(14, 12, 12, 0.89)!important;
}
@media(max-width: 540px){
    .quitar-sm{
        display: none;
    }
}


/*------------------ Sidebar ------------------*/

.sidebar {
	width: 275px; height: 100vh; position: fixed; top: 0; left: -290px; z-index: 999; 
	background:rgba(14, 12, 12, 0.95); color: #fff; transition: all .3s; box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
	text-align: left;
}

.sidebar.active { left: 0; }
.dismiss {
    width: 35px; 
    height: 35px; 
    position: absolute;
    top: 10px; 
    right: 10px; 
    transition: all .3s; 
    background: #444; 
    border-radius: 4px; 
    text-align: center; 
    line-height: 35px; 
    cursor: pointer;
}
.dismiss:hover, .dismiss:focus { background: #555; color: #fff; }

.sidebar .logo 
{ 
    padding: 10px 15px; 
    text-align: center; 
    border-bottom: 1px solid #444; 
    transition: all .3s; }
.sidebar .logo a {
	display: inline-block;
	width: 20rem;
	height: 19rem;
	background: url(../img/logo-sidebar.png) left top no-repeat;
	border: 0;
	text-indent: -999999px;
}

.sidebar ul.menu-elements { 
    padding: 0 0 10px 0; 
    border-bottom: 1px solid #444; 
    transition: all .3s;
 }

.sidebar ul li a {
	display: block; padding: 10px 20px;
	border: 0; color: #fff;
}
.sidebar ul li a:hover,
.sidebar ul li a:focus,
.sidebar ul li.active > a:hover,
.sidebar ul li.active > a:focus { outline: 0; background: #555; color: #fff; }

.sidebar ul li a i { margin-right: 5px; }

.sidebar ul li.active > a, a[aria-expanded="true"] {
	background: #444;
	color: #fff;
}

.sidebar ul ul a { background: #444; padding-left: 30px; font-size: 14px; }

.sidebar ul ul li.active > a { background: #555; }

.sidebar a[data-toggle="collapse"] {
    position: relative;
}
.sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.sidebar .to-top { padding: 20px; text-align: center;}

.sidebar .dark-light-buttons { padding: 10px 20px 30px 20px; text-align: center;}

/*------------------- sidebar light -------------------*/

.sidebar.light { background: #fff; color: #888;}
.sidebar.light .dismiss { background: #ddd; color: #888;}
.sidebar.light .dismiss:hover, 
.sidebar.light .dismiss:focus { background: #ccc; color: #888;}
.sidebar.light .logo {border-bottom: 1px solid #eee;}
.sidebar.light ul.menu-elements { border-color: #eee;}
.sidebar.light ul li a { color: #888;}
.sidebar.light ul li a:hover,
.sidebar.light ul li a:focus,
.sidebar.light ul li.active > a:hover,
.sidebar.light ul li.active > a:focus { background: #ccc; color: #888;}
.sidebar.light ul li.active > a, .sidebar.light a[aria-expanded="true"]{
	background: #ddd;
	color: #888;
}

.sidebar.light ul ul a { background: #ddd; }

.sidebar.light ul ul li.active > a { background: #ccc; }

.sidebar.light a.btn-customized-3 { background: #ddd; color: #888; }

.sidebar.light a.btn-customized-3:hover, 
.sidebar.light a.btn-customized-3:active, 
.sidebar.light a.btn-customized-3:focus, 
.sidebar.light a.btn-customized-3:active:focus, 
.sidebar.light a.btn-customized-3.active:focus,
.sidebar.light a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active,
.sidebar.light a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	background: #ccc; color: #888;
}

.sidebar.light a.btn-customized-4.btn-customized-dark { background: #555; }
.sidebar.light a.btn-customized-4.btn-customized-light { background: #eee; }
.sidebar.light a.btn-customized-4.btn-customized-dark:hover, 
.sidebar.light a.btn-customized-4.btn-customized-dark:active, 
.sidebar.light a.btn-customized-4.btn-customized-dark:focus, 
.sidebar.light a.btn-customized-4.btn-customized-dark:active:focus, 
.sidebar.light a.btn-customized-4.btn-customized-dark.active:focus,
.sidebar.light a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active,
.sidebar.light a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	background: #ccc; color: #fff;
}
.sidebar.light a.btn-customized-4.btn-customized-light:hover, 
.sidebar.light a.btn-customized-4.btn-customized-light:active, 
.sidebar.light a.btn-customized-4.btn-customized-light:focus, 
.sidebar.light a.btn-customized-4.btn-customized-light:active:focus, 
.sidebar.light a.btn-customized-4.btn-customized-light.active:focus,
.sidebar.light a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active,
.sidebar.light a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	background: #ccc; color: #fff;
}
/*-----------------------------------------------------*/

/*------------------- Capa oscura ---------------------*/

.overlay {
    display: none; position: fixed; width: 100vw; height: 100vh; 
    background: rgba(51, 51, 51, 0.7); z-index: 998; opacity: 0; transition: all .5s ease-in-out;
}

.overlay.active { display: block; opacity: 1; }

/*-----------------------------------------------------*/

/*-------------------- Contenido ----------------------*/

.content { width: 100%; transition: all 0.3s; }

.open-menu-toggle.btn-customized,
.open-menu-toggle.btn-customized:hover, 
.open-menu-toggle.btn-customized:active, 
.open-menu-toggle.btn-customized:focus, 
.open-menu-toggle.btn-customized:active:focus, 
.open-menu-toggle.btn-customized.active:focus,
.open-menu-toggle.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
.open-menu-toggle.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.2);
}
/*--------------------- Botones ----------------------*/

a.btn-customized-2 {
	margin-left: 5px; margin-right: 5px; padding: .75rem 1.5rem; 
	background: #fff; border: 0; border-radius: 4px; 
	font-size: 16px; font-weight: 300; color: #555; box-shadow: none;
}

a.btn-customized-2:hover, 
a.btn-customized-2:active, 
a.btn-customized-2:focus, 
a.btn-customized-2:active:focus, 
a.btn-customized-2.active:focus,
a.btn-customized-2.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-2.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	outline: 0; background: #ccc; background: rgba(255, 255, 255, 0.5); border: 0; color: #555; box-shadow: none;
}

a.btn-customized-3 {
	display: inline-block; width: 100%; margin: 0; padding: .75rem 1.5rem; 
	background: #444; border: 0; border-radius: 4px; 
	font-size: 16px; font-weight: 300; color: #fff; box-shadow: none;
}
a.btn-customized-3:hover, 
a.btn-customized-3:active, 
a.btn-customized-3:focus, 
a.btn-customized-3:active:focus, 
a.btn-customized-3.active:focus,
a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	outline: 0; background: #555; border: 0; color: #fff; box-shadow: none;
}
a.btn-customized i, 
a.btn-customized-2 i,
a.btn-customized-3 i { margin-right: 5px; }


a.btn-customized-4 {
	display: inline-block; width: 28px; height: 28px; margin: 0 3px; padding: 0; 
	background: #444; border: 0; border-radius: 50%; 
	font-size: 16px; font-weight: 300; color: #fff; box-shadow: none; text-indent: -999999px;
}

a.btn-customized-4.btn-customized-dark { background: #222; }
a.btn-customized-4.btn-customized-light { background: #fff; }
a.btn-customized-4.btn-customized-dark:hover, 
a.btn-customized-4.btn-customized-dark:active, 
a.btn-customized-4.btn-customized-dark:focus, 
a.btn-customized-4.btn-customized-dark:active:focus, 
a.btn-customized-4.btn-customized-dark.active:focus,
a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	outline: 0; background: #555; border: 0; color: #fff; box-shadow: none;
}
a.btn-customized-4.btn-customized-light:hover, 
a.btn-customized-4.btn-customized-light:active, 
a.btn-customized-4.btn-customized-light:focus, 
a.btn-customized-4.btn-customized-light:active:focus, 
a.btn-customized-4.btn-customized-light.active:focus,
a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	outline: 0; background: #555; border: 0; color: #fff; box-shadow: none;
}
/*------------------ Fin de los cuatros botones ----------------------*/

/*---------- boton del usuario ----------*/

.sidebar ul li.active > a, a[aria-expanded="true"]{
	background: none;
}
/*------------------------------------------------------------*/

/*---------------------imagen del usuario---------------------*/
.img-usuario{
    width: 35px;
    height: 35px;
}
/*------------------------------------------------------------*/

/*-------------------------Toggle menu------------------------*/
.toogle-menu{
    width: 13.7px;
    height: 16px;
    color: rgba(14, 12, 12, 0.89);
}
.contenedor-toogle-icon{
    padding: .5rem 1rem;
    background-color: #f46f03;
}
.contenedor-toogle-icon:hover{
      box-shadow: 0 0 5px #f46f03,
                0 0 25px #f46f03,
                0 0 50px #f46f03,
                0 0 200px #f46f03;
}
/*------------------------------------------------------------*/

/*---------------------color de los iconos--------------------*/
.color-icon{
    color: #f46f03;
    
}
.sidebar.light .color-icon{
    color: #000;
}
.color-icon-mora{
    color: #7c4dff;
}
/*-----------------------------------------------------------*/

/*---------------------Ajuste del navbar---------------------*/
@media(max-width: 540px){
    .quitar-icon-sm{
        display: none;
    }
}
@media(max-width: 1300px){
    .quitar-frase{
        display: none;
    }
}
/*------------------------ Footer ---------------------------*/
.section-social{
    background-color: #f46f03;
}
.hover-icon:hover{
    background-color: #f45b03;
}
.deep-purple.accent-2{
    box-shadow: 0 0 5px #7c4dff,
                0 0 200px #7c4dff;
}
.footer-icon{
    font-size: 1.3rem;
}
/*-----------------------------------------------------------*/
/*--------Tarjertas de presentación del team----------*/
.box 
{
    position: relative;
    width:500px;
    height: 500px;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: #060c21; 
    transition: 0.5s;
}
.box:hover
{
    height: 600px;
}
.h2:hover{
    margin: 10px;
    padding: 10px;
}
.box .imagen-box
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.box .imagen-box img
{
    max-width: 100%;
    opacity: 0.1;
    transition: 0.5s;
}
.box:hover .imagen-box img
{
    opacity: 1;

}
.box:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: 2px;
    bottom: 2px;
    background: #fff; 
    z-index: -1;
}
.box:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: 2px;
    bottom: 2px;
    background: #fff; 
    z-index: -2;
    filter: blur(40px);
    
}
.box:before,
.box:after{
    background: linear-gradient(235deg, #89ff00,#010615,#00bcd4);
}
.box:nth-child(2):before,
.box:nth-child(2):after
{
    background: linear-gradient(235deg, #ff005e,#010615,#00bcd4);
    
}

.box .contenido-tarjetas
{
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 90px;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
}
.box:hover .contenido-tarjetas
{
    opacity: 1;
    
    
}
.box .contenido-tarjetas h2
{
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
}
.box .contenido-tarjetas h2 span
{
    font-size: 15px;
    color: #fff;
    font-weight: 250;
    letter-spacing: 2px;
    
}
.glow
{
    color: #ff7043;
    font-weight: bold;
}
/*Texto Introducción sobre nosotros*/
#textodeintroducción{
    text-align:center;
    color: #fcff43;
    background: rgba(14, 13, 13, 0.438);
    font-size: 30px;
    margin: 6px;
    padding: 6px;
}
/*---------------Efecto 3d h2--------------*/
.leRollFromTop span { animation-name: leRollFromTop }
@keyframes leRollFromTop {
    from {
        transform: translateY(-60px) perspective(600px) rotateX(180deg);
        opacity: 0
    }
}

/*------------Tablas----------*/
/*Texto de introducción*/
.introduccion
{   
    font-weight: bold;
    font-size: 30px;
    text-decoration: underline;
    margin: 10px;
    color: #f46f03;
}

/*Tabla en general*/
.table
{
 
    max-width: 90%;
    align-items: center;
    margin: 5%;
    border-radius: 20px;
}
.tbody
{
    margin: 5%;
}
/*Columnas de la tabla*/
.columna1
{
    text-align:center;
    
}
.columna2
{
    text-align:center;
}
.columna3
{
    text-align:center;
}
.columna4
{
    text-align:center;
}
.col1{
    text-align:center;
}


.white-darker-hover 
{
    color: #fff;
    -webkit-transition: .4s;
    transition: .4s; 
}
.white-darker-hover:hover 
{
    -webkit-transition: .4s;
    transition: .4s;
    color: #d9d9d9; 
}

/*Carta de sabías que?....*/
.deep-orange-lighter-hover 
{
    color: #ff7043;
    -webkit-transition: .4s;
    transition: .4s; 
    padding: 5px;
}
.deep-orange-lighter-hover:hover 
{
    -webkit-transition: .4s;
    transition: .4s;
    color: #ffaa90; 
}
h3
{
    text-align: center;
}
/*-------------------Carta de Países mas afectados----------------------*/
.card{
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    margin: 10px;
}
.card:hover{
    -webkit-transform:scale(0.9);
    transform:scale(0.9);
    transition: 2s;
}
.filas
{
    text-align: center;
    
}
.textocarta
{
    color: #f46f03;
    margin: 5px;
}

.titulocarta
{
    color: #f46f03;
    text-align: center;
    margin: 5px;
    font-weight: bold;
}

.bodycarta
{
    margin: 5px;
}
.card-deck
{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}
.card-img-top
{
    width: 100%;
}


/*-----------Sección de como combatir el hambre-----------*/
.imagenfondo2{
    margin: 100px;
    position:relative;
    padding:1em 1.5em;
    border:none;
    background-color:transparent;
    cursor:pointer;
}

.parrafocombatir{
    color: #e60707;
    text-align: center; 
    margin: 10px;
    background: #000000af;
    padding: 6px;
    border-radius: 4px;
}
/*------------------*/
.button
{
position:relative;
padding:1em 1.5em;
border:none;
background-color:transparent;
cursor:pointer;
outline:0;
font-size:30px;
margin:1em .8em
}
/*Párrafo de Introducción*/
.button.type1{
    color:#e60707;
    text-align: center;
    
}
.button.type1.type1::after,.button.type1.type1::before
{
content:"";
display:block;
position:absolute;
width:20%;
height:20%;
border:2px solid;
transition:all .6s ease;
border-radius:2px
}
.button.type1.type1::after
{
bottom:0;
right:0;
border-color:transparent#e60707 #e60707 transparent
}
.button.type1.type1::before
{
top:0;
left:0;
border-color:#e60707 transparent transparent#e60707
}
.button.type1.type1:hover:after,.button.type1.type1:hover:before
{
width:100%;
height:100%;
}
/*Párrado de pasos a erradicar el hambre*/
.button.type3
{
    color: #e60707;
    text-align: center;

}
.button.type3.type3::after,.button.type3.type3::before
{content:"";
display:block;
position:absolute;
width:20%;
height:20%;
border:2px solid;
transition:all .6s ease;
border-radius:2px}
.button.type3.type3::after
{
    bottom:0;
    right:0;
    border-color:transparent #e60707 #e60707 transparent
}
.button.type3.type3::before
{
    top:0;
    left:0;
    border-color:#e60707 transparent transparent #e60707
}
.button.type3.type3:hover:after,.button.type3.type3:hover:before
{
    border-color:#e60707;
    width:100%;
    height:100%
}
/*Botón de conclusión*/
.button.type2{color:#d13812;
    text-align: center;
}
.button.type2.type2:after,.button.type2.type2:before{content:"";display:block;position:absolute;top:100%;left:0;width:100%;height:2px;background-color:#d13812;transition:all .3s ease;transform:scale(0.85)}
.button.type2.type2:hover:before{top:0;transform:scale(1)}
.button.type2.type2:hover:after{transform:scale(1)}

.conclusion{
    padding: 10px;
    margin: 20px;
    background: #c368137e;
    color: black; 
    border-radius: 10px;
}
